@charset "UTF-8";

.main_photo img {
    height: 600px;
}

.content_link h3 {
    top: -20px;
}

.autumn {
    background-image: url(../img/lake.jpg);
    background-size: cover;
}

.snow {
    background-image: url(../img/snow.jpg);
    background-size: cover;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 540px) {
    .main_photo img {
        height: 400px;
    }
}